[defaults]
inventory             = inventory/hosts.yml
remote_user           = ubuntu
private_key_file      = ../osm-key.pem
host_key_checking     = False
roles_path            = roles
log_path              = /tmp/ansible-osm.log
stdout_callback       = yaml
deprecation_warnings  = False
gathering             = smart
fact_caching          = memory

[ssh_connection]
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = True
